<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="co.gobd.tracker">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:name=".application.GoAssetApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="GO! Asset"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA85WD4uKZBnUUs6MgS1bX-fWmKKUvIwpk" />

        <activity
            android:name=".ui.activity.MainActivity"
            android:label="@string/app_name" />

        <service
            android:name=".ui.service.LocationService"
            android:enabled="true"
            android:exported="false" />

        <activity android:name=".ui.activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.activity.SignUpActivity" />
        <activity
            android:name=".ui.activity.JobActivity"
            android:label="@string/label_activity_job"
            android:parentActivityName=".ui.activity.MainActivity"
            />
    </application>

</manifest>